/* ESTILOS GENERALES */

html {
    font-size: 62.5%;

    body {
        background-color: $background-color_1;
        color: $color_1;
        font-family: $font-family_1;
        overflow-x: hidden;
    }
}

