/* MEDIAS */

@media (max-width: 767px) {
    .imagenGaleria {
        max-width: 90%;
        margin: auto;
    }

    .tituloPrincipal {
        display: none;
    }

    .introGaleria {
        display: none;
    }
}