$color_1: #fafafa;
$color_2: #27a776;
$color_3: rgba(255, 255, 255, 0.6);
$font-family_1: "Roboto", sans-serif;
$background-color_1: #161718;
$background-color_2: #27a776;
$background-color_3: #2cbc85;